@charset "UTF-8";

:root{
    --rosa: #F20574;
    --roxo: #5408a6;
    --azul: #0B04D9;
    --azule: #554ff9;
    --amarelo: #F2CB05;
    --preto: #181818;
    --cinza: #F2F2F2;
}

*{
    font-family: montserrat, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html{
    background-color: var(--roxo);
    height: 100vh;
    width: 100vw;
    color: #5408a6;
}

main{
    position: relative;
    height: 100vh;
    width: 100vw;
}

section.login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: var(--cinza);
    width: 17.625rem;
    height: 31.25rem;
    border-radius: 1rem;
    overflow:hidden;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.256);

    transition: width .3s, height .3s;
    transition-timing-function: ease;
}

section.login > div.imagem{
    display: block;
    background: url(../images/log.jpg);
    background-size: cover;
    background-position: center center;
    height: 9.75rem;
}

secrtion.login > div.formulario{
    display: block;
}

div.formulario{
    padding: 1rem;
    line-height: 1.2;
}
div.formulario > h1{
    text-align: center;
    padding-bottom: 1rem;
}

div.formulario > p{
    padding-bottom: 1.5rem;
}

form > div.campo{
    display: block;
    height: 40px
}

form > input[type=submit]{
    display: block;
    font-size: 1rem;
    width: 100%;
    height: 2.4rem;
    margin-top: 1rem;
    background-color: #F2CB05;
    color: white;
    border-radius: .5rem;
    border: none;
    cursor: pointer;
}

form > input[type=submit]:hover{
    background-color: #F20574;
    color: #F2F2F2;
}

form > a.botao{
    display: block;
    color:#F20574;
    text-align: center;
    margin-top: .5rem;
}

form > a.botao:hover{
    color:#5408a6;
}

form > a.botao > i{
    font-size: 1rem;
}

